*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ga Maamli',Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fefce3;
}
.info{
    gap: 20px;
    display: flex;
}
p{
    font-size: clamp(10px,1rem + 5vh,70px);
}



.ttt-container{
    display: flex;
    flex-direction: column;
}
div{
    display: flex;
}
.board{
    padding: 20px;
    width: 150px;
    height: 150px;
    margin: 0;
    background-color: rgba(251, 251, 251, 0);
    border: none;
    display: flex;
}
.but1,
.but4,
.but5{
    border-bottom: 10px solid #002331;
    border-right: 10px solid #002331;
}
.but2{
    border-bottom: 10px solid #002331;
    border-right: 10px solid #002331;
}

.but6,
.but3{
    border-bottom: 10px solid #002331;
}
.but7,
.but8{
    border-right: 10px solid #002331;
}

@media (max-width:450px) {

.board{
    padding: 10px;
    width: 100px;
    height: 100px;
}
img{
    width: 75px;
}
}